body {
    font-family: Arial, sans-serif;
    margin: 20px;
    max-width: 1100px;
    padding: 0 10px;
    

}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

textarea, input {
    max-width: 500px;
    width: 100%;
    padding: 10px 0px 10px 15px;
    border-radius: 10px;
}
button {
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid transparent;

}

@media (hover:hover) {
    button:hover {
        border: 1px solid rgb(93, 93, 255);
    
    }

}
.info{
    width: 100%;

}
details{
    max-width: 600px;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}





.weight-block{
    position: relative;
    margin-bottom: 10px;
    width: 100%;
 
    .label-weight{
        position: absolute;
        top: 10px;
        left: 10px;
        transition: all .1s ease-in-out;
        opacity: .7;
    }
    #weight {
        width: 90%;
    }
    #weight:focus + .label-weight,
    #weight:valid + .label-weight {
        transition: all .1s ease-in-out;
        transform: translateY(-30px);
        opacity: 1;
        font-size: 14px;

    }
}


.height-block {
    position: relative;
    width: 100%;

    .label-height {
        position: absolute;
        top: 10px;
        left: 10px;
        transition: all .1s ease-in-out;
        opacity: .7;
    }

    #height {
        width: 90%;
    }

    #height:focus + .label-height,
    #height:valid + .label-height {
        transition: all .1s ease-in-out;
        transform: translateY(-30px);
        opacity: 1;
        font-size: 14px;

    }
}
